/* your styles go here */

.img-responsive-tx {
height: 350px !important;
min-width: 100% !important;
max-width: none;
left: 50% !important;
position: relative !important;
transform: translateX(-50%) !important;
}

.box-simple {
  min-height: 230px;
}
.read-more a {
background-color: #eeeeee;
}
